on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-18.04
    name: A job to say hello_world_job
    steps: 
    - name: Hello world action steps
      id: hello
      uses: thenoise2000/javascript-actions
      with:
        who-to-greet: 'Ralph'
    - name: Get the output time
      run: echo "The time was ${{ steps.hello.outputs.time }}"